* {
    text-align: center;
    box-sizing: border-box;
}
h1 { /* reminder: go back to step 5 before coninuing!*/
    background-color: #2c3944;
    color: white;
    margin: 0 auto;
    padding: 25px 0;
    width: 100vw;
    font-size: 28px;
}

