* {
    text-align: center;
    box-sizing: border-box;
}
header > body {
    width: auto;
    padding: 0;
}
h1 {
    background-color: #2c3944;
    color: white;
    margin: 0 auto;
    padding: 25px 0;
    width: 100vw;
    font-size: 28px;
}

