* {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;

}
.input_div:focus {
  background-color: darkmagenta;
  border-color: darkred;
}

#main_content {
    display: block;
}
h1 {
    margin-top: 0;
    background-color: #2c3944;
    color: white;
    margin: 0 auto;
    padding: 25px 0;
    width: 100vw;
    font-size: 20px;
}
.sign-up {
    text-align: center;
    font-size: 75%;
    padding-left: 15px;
    padding-right: 15px;

}
#intro-info {
 text-align: center;
}
#bottom_signup{
    padding-bottom: 10px;
}
::placeholder {
    text-align: right;
    padding-right: 10px;
    font-style: italic;
    font-size: 70%;
    justify-self: center;
}
button[type="submit"] {
 background-color: teal;
 color: white;
 border-radius: 5px;
 width: 100%;
 padding: 15px;
 margin: 20px auto;
}

select,
input[type="text"],
input[type="email"],
input[type="tel"]{
  margin: 10px auto;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  border: none;
  background-color: #e8eeef;
  border-radius: 5px;
}
#user_state {
     margin: 7px auto;
}
#zip_code {
  margin: 2px auto;
}
input[type="checkbox"],
input[type="radio"] {
 margin: 10px 2px;
}

.thick-line {
    border-bottom: #2c3944 solid 4px;
    margin: auto 0;
}
.thin-line {
    border-bottom: #2c3944 solid 2px;
    margin: 3px 0;
}

input[id="user_zip"] {
    width: 50%;
}
fieldset {
    border: none;
}
textarea {
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 7px;
    background-color: #e8eeef;
}
hr {
    color:black
}
#copyright {
    text-align: center;
    font-size: 70%;
    color: grey;

}
#newsletter_content {
    padding-left: 5px;
}

#html_label,
#css_label,
#javascript_label,
#html_button,
#plain_button {
    font-size: 80%;
}
#checkbox_items,
#newsletter_buttons,
#user_textarea {
    margin-top: 7px;
    margin-bottom:7px;
}
.checkbox_item1,
.checkbox_item2,
.checkbox_item3 {
    display: block;
}


@media screen and (min-width:768px) { 
body{
margin: 0;
justify-self: center;
}
#main_content {
    max-width: 900px;
}
.cinfo { 
 display: flex;
flex-direction: row;
align-items: center
 }
.cinfo label { 
 flex-basis: 16%;
 }
 #user_zip {
    flex-basis: 25%;
    margin-left: 0;
}
.cinfo input,
.cinfo select { 
flex-basis: 84%;
}
 #zip_code {
margin-left: 0;
margin-right: 0;
}
 button {
padding: 1rem;
}

}
@media screen and (min-width:905px) {
    #main_content {
        margin: 0 auto;
    }
}

   
   
   /* #main_content {
        max-width: 900px;
        margin: auto;
    }
    input[id="full_name"],
    input[id="user_email"],
    input[id="user_phone"],
    input[id="user_address"] {
        max-width: 600px;
        align-self: center;
    }
    input[id="user_zip"] {
        width: 25%;
    }
    .cinfo { 
    display: flex;
    flex-direction: row;
    align-items: center
    }
    .cinfo label { 
    flex-basis: 16%;
    }

    .cinfo input,
    .cinfo select { 
    flex-basis: 84%;
    }

    .zip_div {
     display: flex;
     align-items: left;
     }

     #zip_code {
         margin-left: 0;
         margin-right: 0;
     }

     #user_zip {
         margin-left: 0;
     }

    .zip_div input { 
    max-width: 25%;
    }

    button {
    padding: 1rem;
    }
  }

